{% extends 'base.html.twig' %}

{% block title %}Liste des factures
{% endblock %}

{% block body %}
<h1>Liste des factures</h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>N°</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for invoice in invoices %}
			<tr>
				<td>{{ invoice.id }}</td>
				<td>{{ invoice.number }}</td>
				<td>
					<a href="{{ path('app_invoice_show', {'id': invoice.id}) }}" class="btn btn-success">Voir</a>
					<a href="{{ path('app_invoice_edit', {'id': invoice.id}) }}" class="btn btn-warning">Mettre à jour</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="3">Pas de facture trouvée.</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_invoice_new') }}" class="btn btn-outline-success">+ Créer une nouvelle facture</a>{% endblock %}
