{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <h1>Facture n° {{ invoice.number }}</h1>

    <table class="table">
   <thead>
        <tr>
        <th>Description</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>Total</th>
        <th>CMR</th>
        </tr>
   </thead>
   <tbody>
        {% for line in invoice.invoiceLines %}
        <tr>
        <td>{{ line.description }}</td>
        <td>{{ line.unitPrice }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.total }}</td>
        <td><a href="{{ vich_uploader_asset(line, 'cmrFile') }}" target="_blank" class="btn btn-primary">CMR</a></td>
        </tr>
        {% endfor %}
   </tbody>
    </table>

    <a href="{{ path('app_invoice_index') }}" class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_invoice_edit', {'id': invoice.id}) }}" class="btn btn-success">Modifier la facture</a>

    {{ include('invoice/_delete_form.html.twig') }}
{% endblock %}
