{% extends 'base.html.twig' %}

{% block title %}Mes informations
{% endblock %}

{% block body %}
<h1>Mes informations</h1>
		<div id="my-company">
			<p>Mon logo :</p>
			<img src="{{ vich_uploader_asset(mycompany, 'logoFile')}}" alt="" class="logo" style="width:200px">
			<h2>{{mycompany.name}}</h2>

			<p>N° TVA :
				{{mycompany.tvaNumber}}</p>
			<p>N° Siret :
				{{mycompany.siretNumber}}</p>
			<p>{{mycompany.adress}}</p>
            <p>{{mycompany.complementAdress}}</p>
			<p>{{mycompany.zip}}
				{{mycompany.city}}</p>
			<p>{{mycompany.email}}</p>
			<h2>Informations sur facture</h2>
			<p>Taux de tva :
				{{ mycompany.tvaRate }}%</p>
			<p>IBAN :
				{{ mycompany.iban }}</p>

			<a href="{{ path('app_my_company_edit', {'id':mycompany.id})}}" class="btn btn-outline-primary">Modifier mes informations</a>
		</div>
{% endblock %}
